*{
    padding: 0%;
    margin: 0%;
}
body{
  margin-top:1rem ;
  text-align: center;
  background-color: cadetblue;
}
.container{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 70vh;
    height:60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5vmin;
}

.btn{
    background-color:azure;
    height: 15vh;
    width: 22vh;
    font-size: 10vh;
    color:red;
    cursor: pointer;
    border-radius: 1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0,0.7);
}

#reset-btn{
    padding:1rem;
    background-color: chocolate;
    color:azure;
    border:none;
    font-size: 1.25rem;
    border-radius: 1rem;;
}
#win-btn{
    padding:0.75rem;
    background-color: chocolate;
    color:azure;
    border:none;
    font-size: 1rem;
    border-radius: 1rem;
}
.msg-container{
    height:18vmin;
}
#win-msg{
    color:azure;
    font-size: 5vmin;
}
.hide{
    display: none;
}
